<div class="h-screen w-screen grid place-content-center p-4">
    <span class="text-8xl cil-ban text-center text-red-600"></span>
    <h1 class="text-center text-2xl font-bold mt-2">Este módulo <strong class="text-red-600">no está disponible</strong> para esta versión</h1>

  
    <p class="mt-6">Aún no está disponible para dispositivos móviles, si quieres visualizar este módulo puedes hacerlo en la web </p>

    <div class="flex gap-2 w-full mt-6">
      <button role="link" class="rounded-md border-2 border-solid border-green-600 text-green-600 p-2 w-1/2"><a href="https://saman.lafortuna.com.co"> <span class="cil-globe-alt"></span> SAMAN</a></button>
      <button class="p-2 rounded-md w-1/2 bg-green-600 text-white font-bold" [routerLink]="['/home']"><span class="cil-home"></span> HOME </button>
    </div>
</div>
