<div class="max-w-2xl mx-auto">

	<!-- HEADER -->
	<header class="flex h-14 w-screen p-4">
		<span class="cil-menu text-3xl" (click)="menuState = !menuState"></span>
		<img class="ml-auto h-8" src="https://saman.lafortuna.com.co/assets/img/brand/logo-name.png" alt="logo-name">
		<img class="ml-auto rounded-full h-9" [src]="user.profile_photo_path" alt="logo-name">
	</header>

	<!-- SIDEBAR -->
	<aside [ngClass]="menuState ? 'ml-0 bg-black bg-opacity-40' : 'ml-[-100%]'" (click)="menuState = false" class="w-full absolute transition-[margin] duration-[400ms]" aria-label="Sidebar">
		<div (click)="$event.stopPropagation()" class="w-[17rem] px-3 py-4 overflow-y-auto bg-gray-800 h-screen text-gray-400">
			<ul class="space-y-2 select-none">
				<li *ngFor="let module of menu | async">
					<button type="button" class="flex items-center w-full p-2 text-base font-normal transition duration-75 rounded-lg group hover:bg-gray-700 hover:text-white" (click)="listItems.hidden = !listItems.hidden">
						<span class="w-6 h-6 transition duration-75 " [ngClass]="module.icon"></span>
						<span class="flex-1 ml-3 text-left whitespace-nowrap">{{module.name}}</span>
						<svg  class="w-6 h-6" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" d="M5.293 7.293a1 1 0 011.414 0L10 10.586l3.293-3.293a1 1 0 111.414 1.414l-4 4a1 1 0 01-1.414 0l-4-4a1 1 0 010-1.414z" clip-rule="evenodd"></path></svg>
					</button>

					<ul #listItems hidden class="py-2 space-y-2">
						<li *ngFor="let item of module.children" class="ml-4">
							<a  [routerLink]="[item.url]" routerLinkActive="bg-gray-700 text-white" (click)="menuState = false" class="flex items-center p-2 text-base font-normal rounded-lg hover:bg-gray-700 hover:text-white">
								<span [ngClass]="item.icon" class="flex-shrink-0 w-6 h-6 transition duration-75"></span>
								<span class="flex-1 ml-3 whitespace-nowrap">{{item.name}}</span>
								<!-- <span class="inline-flex items-center justify-center px-2 ml-3 text-sm font-medium text-gray-800 bg-gray-200 rounded-full dark:bg-gray-700 dark:text-gray-300">Pro</span> -->
							</a>
						</li>
					</ul>
				</li>
			</ul>
		</div>
	</aside>

	<!-- MAIN -->
	<main class="bg-gray-50 h-screen">
		<router-outlet></router-outlet>
	</main>

</div>